go 1.26.5

use (
    ./services/control-plane
    ./services/assessment-worker
    ./services/sandbox-manager
    ./libs/canary-sdk
    ./libs/aegisagent
    ./libs/roe-validator
    ./libs/graph-client
)
